
<div class="main">
  <div class="topbar">
    

  </div>

  <div class="container">

    <div class="sidebar">
      <mat-list>
        <mat-list-item> <a routerLink="productlist">Product</a> </mat-list-item>
        <mat-list-item> <a routerLink="categorylist">Category</a> </mat-list-item>
        <mat-list-item> <a routerLink="userList">User</a> </mat-list-item>
      </mat-list>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">
    footer
  </div>
</div>
